.container{
  width:70%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
.wallet{
  display:inline-block;
  margin:20px 0;
  padding:12px 18px;
  background:#FFF8EE;
  border:2px solid #D6C7B0;
  border-radius:12px;
}
.stats{
  display:flex;
  justify-content:center;
  gap:25px;
  margin: 30px 0;
  flex-wrap: wrap;
}
.card{
  background:#FFF8EE;
  border:2px solid #D6C7B0;
  padding:25px;
  border-radius:18px;
  width:180px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.input-section{
  display:flex;
  justify-content:center;
  gap:12px;
  margin:35px 0;
}
.task-input{
  width:350px;
  padding:12px 16px;
  border:2px solid #D6C7B0;
  border-radius:12px;
  background:#FFF8EE;
  font-size:16px;
}
.task-input:focus{
  outline:none;
  border-color:#151c34;
}
.btn{
  background:#151c34;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:12px;
  cursor:pointer;
  font-weight:600;
}

.btn:hover{
  transform:translate(-2px);
}

/* task card */
.task-list{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  gap:15px;
}
.task-card{
  background:#FFF8EE;
  border:2px solid #D6C7B0;
  border-radius:18px;
  padding:18px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.task-actions{
  display:flex;
  gap:8px;
}
.small-btn{
  background:#151C34;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s;
}

.small-btn:hover{
  transform:translateY(-2px);
}
.delete-btn{
  background:#D9534F;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s;
}

.delete-btn:hover{
  transform:translateY(-2px);
}.save-btn{
  background:#4CAF50;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s;
}

.save-btn:hover{
  transform:translateY(-2px);
}
select{
  padding:12px;
  border-radius:12px;
  border:2px solid #D6C7B0;
  background:#FFF8EE;
  font-size:15px;
}

.priority{
  margin-left:12px;
  padding:4px 10px;
  border-radius:999px;
  font-size:0.8rem;
  font-weight:600;
}
.low{
  background:#EAF7EC;
  color:#2E7D32;
}
.medium{
  background:#FFF4E5;
  color:#E67E22;
}
.high{
  background:#FDECEC;
  color:#C0392B;
}
